html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex: start;
  align-items:flex-start;
}
h1{
  margin-top: 0;
  padding-top: 0;
}

#lowest, #generation {
  display:grid;
  font-size: large;
  font-weight: bolder;
}

#upper {
  height : 75px;
  overflow-y:scroll;
}

#height, #width {
  width: 3em;
}

#display {
  display: grid;
  grid-template-columns: 125px 100px;
  margin-top: 0%;
}

#controls {
  /* float:left; */
  /* display: grid;
  grid-template-columns: 75px 75px 75px; */
  width : 350px;
  padding: 0;
  margin: 0;
  /* transform: scale(0.8); */
  font-size: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: start;
}

#control_buttons{
  display: flex;
}

/* hr { /*Defines controls width*/
  /* width: 350px;
} */ 

/* .canvas.align-right { 
  float:right;
  left: 350px;
  top: 0px;
}  */